<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration>

<configuration scan="false" debug="true">
	<property name="log_out_console" value="CONSOLE"/>
	<property name="log_out_file" value="FILE"/>
	<substitutionProperty name="log.base" value="${user.dir}/logs" />
	<jmxConfigurator />
	<!--<conversionRule conversionWord="short" converterClass="com.csii.pe.common.logging.ShortLoggerConverter" />
	<conversionRule conversionWord="count" converterClass="com.csii.pe.common.logging.CountingConverter" />-->
	
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%d{HH:mm:ss.SSS} [%thread] [%X{sessionId}] [%-5level] [%logger{36}] [%X{transId}]- %m%n</Pattern>
		</layout>
	</appender>
	
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${log.base}/logFile.%d{yyyy-MM-dd}.%i.log.zip</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
        		<maxFileSize>100MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">			
			<Pattern>%d{HH:mm:ss.SSS} [%-5level] [%thread{36}] [%X{sessionId}] [%logger{36}] [%X{transId}]- %m%n</Pattern>
		</layout>
	</appender>
	
	<logger name="org.springframework" additivity="true">
		<level value="info" />
	</logger>
	<logger name="org.apache.http" additivity="true">
		<level value="info" />
	</logger>
	<logger name="com.zaxxer.hikari" additivity="true">
		<level value="info" />
	</logger>
	<logger name="org.apache.shiro" additivity="true">
		<level value="info" />
	</logger>
	<logger name="springfox.documentation" additivity="true">
		<level value="info" />
	</logger>
	<logger name="io.lettuce.core" additivity="true">
		<level value="info" />
	</logger>
	<logger name="org.redisson.command" additivity="true">
		<level value="info" />
	</logger>
	<logger name="java.sql" additivity="true">
		<level value="debug" />
	</logger>
	<logger name="com.csii.meter" additivity="true">
		<level value="debug" />
	</logger>

	<root>
		<level value="debug" />
		<appender-ref ref="${log_out_console}" />
		<appender-ref ref="${log_out_file}" />
	</root>
</configuration>
