<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csii.meter.console.mapper.SysDictTypeMapper">
    
    <resultMap type="com.csii.meter.console.domain.SysDictType" id="DictTypeResult">
        <result property="id"    column="id"    />
        <result property="name"    column="name"    />
        <result property="type"    column="type"    />
        <result property="systemFlag"    column="system_flag"    />
        <result property="enabled"    column="enabled"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDictTypeVo">
        select id, name, type,system_flag,enabled, created_by, updated_by, create_time, update_time, remark from sys_dict_type
    </sql>

    <select id="selectDictTypeList" parameterType="com.csii.meter.console.domain.SysDictType" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        <where>  
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="type != null  and type != ''"> and type like concat('%', #{type}, '%')</if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
    </select>
    
    <select id="selectDictTypeById" parameterType="String" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        where id = #{id}
    </select>

    <select id="typeIsExist" resultType="java.lang.Integer">
        select count(1) from sys_dict_type where type = #{type}
    </select>

    <select id="selectListBytypes" resultMap="DictTypeResult">
        <include refid="selectDictTypeVo"/>
        WHERE enabled = '1' AND type IN
        <foreach item="type" collection="list" open="(" separator="," close=")">
            #{type}
        </foreach>
    </select>

    <insert id="insertDictType" parameterType="com.csii.meter.console.domain.SysDictType">
        insert into sys_dict_type
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="type != null and type != ''">type,</if>
            <if test="systemFlag != null">system_flag,</if>
            <if test="enabled != null">enabled,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="type != null and type != ''">#{type},</if>
            <if test="systemFlag != null ">#{systemFlag},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDictType" parameterType="com.csii.meter.console.domain.SysDictType">
        update sys_dict_type
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="type != null and type != ''">type = #{type},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteDictTypeById" parameterType="java.lang.Integer">
        delete from sys_dict_type where id = #{id}
    </delete>

    <delete id="deleteDictTypeByIds" parameterType="java.lang.Integer">
        delete from sys_dict_type where system_flag != 1 and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    
</mapper>