<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csii.meter.console.mapper.SysDictDataMapper">
    
    <resultMap type="com.csii.meter.console.domain.SysDictData" id="DictDataResult">
        <result property="id"    column="id"/>
        <result property="typeId"    column="type_id"/>
        <result property="defaultFlag"    column="default_flag"    />
        <result property="dictCode"    column="dict_code"    />
        <result property="dictName"    column="dict_name"    />
        <result property="sort"    column="sort"    />
        <result property="systemFlag"    column="system_flag"    />
        <result property="enabled"    column="enabled"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectDictDataVo">
        select id, type_id ,default_flag, dict_code, dict_name, sort, enabled, created_by, updated_by, create_time, update_time, remark from sys_dict_data
    </sql>

    <select id="selectDictDataList" parameterType="com.csii.meter.console.domain.SysDictData" resultMap="DictDataResult">
        <include refid="selectDictDataVo"/>
        <where>  
            <if test="typeId != null  and typeId != ''"> and type_id = #{typeId}</if>
            <if test="defaultFlag != null "> and default_flag = #{defaultFlag}</if>
            <if test="dictCode != null  and dictCode != ''"> and dict_code like concat('%', #{dictCode}, '%') </if>
            <if test="dictName != null  and dictName != ''"> and dict_name like concat('%', #{dictName}, '%') </if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
        </where>
        ORDER BY create_time DESC
    </select>
    
    <select id="selectDictDataById" parameterType="String" resultMap="DictDataResult">
        <include refid="selectDictDataVo"/>
        where id = #{id}
    </select>

    <select id="selectDataByType" resultType="com.csii.meter.console.domain.SysDictData">
        select
            id, type_id, default_flag, dict_code, dict_name, sort, enabled
        from
            sys_dict_data
           where type_id in
            <foreach collection="array" item="typeId" open="(" separator="," close=")" index="index">
                #{typeId}
            </foreach>
    </select>

    <insert id="insertDictData" parameterType="com.csii.meter.console.domain.SysDictData">
        insert into sys_dict_data
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="typeId != null and typeId != ''">type_id,</if>
            <if test="defaultFlag != null">default_flag,</if>
            <if test="dictCode != null and dictCode != ''">dict_code,</if>
            <if test="dictName != null and dictName != ''">dict_name,</if>
            <if test="sort != null">sort,</if>
            <if test="enabled != null">enabled,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="typeId != null and typeId != ''">#{typeId},</if>
            <if test="defaultFlag != null">#{defaultFlag},</if>
            <if test="dictCode != null and dictCode != ''">#{dictCode},</if>
            <if test="dictName != null and dictName != ''">#{dictName},</if>
            <if test="sort != null">#{sort},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateDictData" parameterType="com.csii.meter.console.domain.SysDictData">
        update sys_dict_data
        <trim prefix="SET" suffixOverrides=",">
            <if test="typeId != null and typeId != ''">type_id = #{typeId},</if>
            <if test="defaultFlag != null">default_flag = #{defaultFlag},</if>
            <if test="dictCode != null and dictCode != ''">dict_code = #{dictCode},</if>
            <if test="dictName != null and dictName != ''">dict_name = #{dictName},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id} and system_flag != 1
    </update>

    <delete id="deleteDictDataById" parameterType="String">
        delete from sys_dict_data where id = #{id} and system_flag != 1
    </delete>

    <delete id="deleteDictDataByIds" parameterType="String">
        delete from sys_dict_data where system_flag != 1 and id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <select id="selectDictByTypeReturnMap" resultType="java.util.HashMap">
        select dict_code,dict_name from sys_dict_data
        <where>
            <if test="typeId != null  and typeId != ''"> and type_id = #{typeId}</if>
            <if test="dictCode != null  and dictCode != ''"> and dict_code = #{dictCode}</if>
            <if test="dictName != null  and dictName != ''"> and dict_name = #{dictName}</if>
        </where>
        and enabled = 1 ORDER BY sort asc
    </select>

    <select id="selectDictByType" resultType="com.csii.meter.console.domain.SysDictData">
        select id,type_id,system_flag,dict_code,dict_name,default_flag,sort,enabled from sys_dict_data
        <where>
            <if test="typeId != null  and typeId != ''"> and type_id = #{typeId}</if>
            <if test="dictCode != null  and dictCode != ''"> and dict_code = #{dictCode}</if>
            <if test="dictName != null  and dictName != ''"> and dict_name = #{dictName}</if>
        </where>
        and enabled = 1 ORDER BY sort asc
    </select>

    <select id="dataIsExist" resultType="java.lang.Integer">
        SELECT COUNT(1)
        FROM sys_dict_data
        WHERE type_id=#{typeId} AND dict_code=#{dictCode}
    </select>

</mapper>