<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csii.meter.console.mapper.SysMenuMapper">
    
    <resultMap type="com.csii.meter.console.domain.SysMenu" id="MenuResult">
        <result property="id"    column="id"    />
        <result property="menuCode"    column="menu_code"    />
        <result property="name"    column="name"    />
        <result property="parentId"    column="parent_id"    />
        <result property="sort"    column="sort"    />
        <result property="url"    column="url"    />
        <result property="type"    column="type"    />
        <result property="target"    column="target"    />
        <result property="perms"    column="perms"    />
        <result property="icon"    column="icon"    />
        <result property="enabled"    column="enabled"    />
        <result property="createdBy"    column="created_by"    />
        <result property="updatedBy"    column="updated_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="remark"    column="remark"    />
    </resultMap>

    <sql id="selectMenuVo">
        select id, menu_code, name, parent_id, sort, url, type, target, perms, icon, component,enabled, created_by, updated_by, create_time, update_time, remark from sys_menu
    </sql>

    <select id="selectMenuList" parameterType="com.csii.meter.console.domain.SysMenu" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
        <where>  
            <if test="menuCode != null  and menuCode != ''"> and menu_code = #{menuCode}</if>
            <if test="name != null  and name != ''"> and name like concat('%', #{name}, '%')</if>
            <if test="parentId != null  and parentId != ''"> and parent_id = #{parentId}</if>
            <if test="sort != null "> and sort = #{sort}</if>
            <if test="url != null  and url != ''"> and url = #{url}</if>
            <if test="type != null "> and type = #{type}</if>
            <if test="target != null  and target != ''"> and target = #{target}</if>
            <if test="perms != null  and perms != ''"> and perms = #{perms}</if>
            <if test="icon != null  and icon != ''"> and icon = #{icon}</if>
            <if test="enabled != null "> and enabled = #{enabled}</if>
            <if test="createdBy != null  and createdBy != ''"> and created_by = #{createdBy}</if>
            <if test="updatedBy != null  and updatedBy != ''"> and updated_by = #{updatedBy}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
            <if test="updateTime != null "> and update_time = #{updateTime}</if>
        </where>
       ORDER BY sort asc
    </select>
    
    <select id="selectMenuById" parameterType="String" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
        where id = #{id}
    </select>

    <select id="selectMenuByRoleId" resultMap="MenuResult">
        <include refid="selectMenuVo"/>
        WHERE id in (SELECT DISTINCT menu_id FROM sys_role_menu WHERE role_id=#{roleId})
    </select>


    <insert id="insertMenu" parameterType="com.csii.meter.console.domain.SysMenu">
        insert into sys_menu
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="menuCode != null and menuCode != ''">menu_code,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="parentId != null and parentId != ''">parent_id,</if>
            <if test="sort != null">sort,</if>
            <if test="url != null and url != ''">url,</if>
            <if test="type != null">type,</if>
            <if test="target != null and target != ''">target,</if>
            <if test="perms != null and perms != ''">perms,</if>
            <if test="icon != null and icon != ''">icon,</if>
            <if test="component != null and component != ''">component,</if>
            <if test="enabled != null">enabled,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="menuCode != null and menuCode != ''">#{menuCode},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="parentId != null and parentId != ''">#{parentId},</if>
            <if test="sort != null">#{sort},</if>
            <if test="url != null and url != ''">#{url},</if>
            <if test="type != null">#{type},</if>
            <if test="target != null and target != ''">#{target},</if>
            <if test="perms != null and perms != ''">#{perms},</if>
            <if test="icon != null and icon != ''">#{icon},</if>
            <if test="component != null and component != ''">#{component},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
         </trim>
    </insert>

    <update id="updateMenu" parameterType="com.csii.meter.console.domain.SysMenu">
        update sys_menu
        <trim prefix="SET" suffixOverrides=",">
            <if test="menuCode != null and menuCode != ''">menu_code = #{menuCode},</if>
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="parentId != null and parentId != ''">parent_id = #{parentId},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="url != null and url != ''">url = #{url},</if>
            <if test="type != null">type = #{type},</if>
            <if test="target != null and target != ''">target = #{target},</if>
            <if test="perms != null and perms != ''">perms = #{perms},</if>
            <if test="icon != null and icon != ''">icon = #{icon},</if>
            <if test="component != null and component != ''">component = #{component},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMenuById" parameterType="String">
        delete from sys_menu where id = #{id}
    </delete>

    <delete id="deleteMenuByIds" parameterType="String">
        delete from sys_menu where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <delete id="deleteRoleMenuByMenuId">
        DELETE FROM sys_role_menu WHERE menu_id = #{menuId}
    </delete>

</mapper>