<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.csii.meter.console.mapper.SysUserMapper">

    <resultMap type="com.csii.meter.console.domain.SysUser" id="UserResult">
        <result property="id" column="id"/>
        <result property="loginId" column="login_id"/>
        <result property="userName" column="user_name"/>
        <result property="password" column="password"/>
        <result property="adminFlag" column="admin_flag"/>
        <result property="enabled" column="enabled"/>
        <result property="loginIp" column="login_ip"/>
        <result property="loginDate" column="login_date"/>
        <result property="createdBy" column="created_by"/>
        <result property="updatedBy" column="updated_by"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="remark" column="remark"/>
    </resultMap>

    <sql id="selectUserVo">
        select id, login_id, user_name, phone, email, enabled, admin_flag, login_ip, login_date, created_by, updated_by, create_time, update_time, remark from sys_user
    </sql>

    <select id="selectUserList" parameterType="com.csii.meter.console.domain.SysUser" resultMap="UserResult">
        <include refid="selectUserVo"/>
        <where>
            <!-- 用户管理模块用户列表屏蔽超级管理员，不显示出来 -->
            admin_flag = 0
            <if test="loginId != null  and loginId != ''">and login_id = #{loginId}</if>
            <if test="userName != null  and userName != ''">and user_name like concat('%', #{userName}, '%')</if>
            <if test="password != null  and password != ''">and password = #{password}</if>
            <if test="enabled != null ">and enabled = #{enabled}</if>
            <if test="loginIp != null  and loginIp != ''">and login_ip = #{loginIp}</if>
            <if test="loginDate != null ">and login_date = #{loginDate}</if>
            <if test="createdBy != null  and createdBy != ''">and created_by = #{createdBy}</if>
            <if test="updatedBy != null  and updatedBy != ''">and updated_by = #{updatedBy}</if>
        </where>
    </select>

    <select id="selectUserById" parameterType="String" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id}
    </select>

    <select id="selectUserByIdAndPaas" resultMap="UserResult">
        <include refid="selectUserVo"/>
        where id = #{id} and password = #{password}
    </select>

    <update id="modifyPassword">
        update sys_user set password = #{password} where id = #{id}
    </update>

    <select id="checkUniqueByLoginId" resultType="int">
        select count(1) from sys_user where login_id = #{loginId}
    </select>

    <insert id="insertUser" parameterType="com.csii.meter.console.domain.SysUser">
        insert into sys_user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="loginId != null and loginId != ''">login_id,</if>
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="password != null">password,</if>
            <if test="phone != null">phone,</if>
            <if test="email != null">email,</if>
            <if test="enabled != null">enabled,</if>
            <if test="loginIp != null">login_ip,</if>
            <if test="loginDate != null">login_date,</if>
            <if test="createdBy != null">created_by,</if>
            <if test="updatedBy != null">updated_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="remark != null">remark,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="loginId != null and loginId != ''">#{loginId},</if>
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="password != null">#{password},</if>
            <if test="phone != null">#{phone},</if>
            <if test="email != null">#{email},</if>
            <if test="enabled != null">#{enabled},</if>
            <if test="loginIp != null">#{loginIp},</if>
            <if test="loginDate != null">#{loginDate},</if>
            <if test="createdBy != null">#{createdBy},</if>
            <if test="updatedBy != null">#{updatedBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
        </trim>
    </insert>

    <update id="updateUser" parameterType="com.csii.meter.console.domain.SysUser">
        update sys_user
        <trim prefix="SET" suffixOverrides=",">
            <if test="userName != null and userName != ''">user_name = #{userName},</if>
            <if test="password != null">password = #{password},</if>
            <if test="phone != null and phone != ''">phone = #{phone},</if>
            <if test="email != null and email != ''">email = #{email},</if>
            <if test="enabled != null">enabled = #{enabled},</if>
            <if test="loginIp != null">login_ip = #{loginIp},</if>
            <if test="loginDate != null">login_date = #{loginDate},</if>
            <if test="createdBy != null">created_by = #{createdBy},</if>
            <if test="updatedBy != null">updated_by = #{updatedBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="remark != null">remark = #{remark},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteUserRoleByUserId" parameterType="String">
        delete from sys_user_role where user_id = #{id}
    </delete>

    <delete id="deleteUserById" parameterType="String">
        delete from sys_user where id = #{id}
    </delete>

    <delete id="deleteUserByIds" parameterType="String">
        delete from sys_user where id in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <insert id="batchInsertUserRole" parameterType="java.util.List">
        insert into sys_user_role (id, user_id, role_id, created_by, updated_by, create_time, update_time, remark)
        values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.id},#{item.userId},#{item.roleId},#{item.createdBy},#{item.updatedBy},
            #{item.createTime},#{item.updateTime},#{item.remark})
        </foreach>
    </insert>


</mapper>